<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="Suite1" verbose="1" >
  <test name="Login" >
    <classes>
       <class name="com.wordpress.tests.WordPressLoginTest" />
    </classes>
  </test>
 
<!-- <test name="Profile">
    <classes>
      <class name="com.wordpress.tests.WordPressProfilTest"/>
    </classes>
  </test>    -->  
</suite>
